/* Root - App.tsx */ 

.Root {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e8;
  min-height: 100vh;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Components */

/* State Display */ 

.StateDisplay {
  border: 1px solid black;
  border-radius: 25px;
  margin-right: 10px;
  flex: 2;
  font-weight: 600;
}

.RegisterDisplay {
  margin: auto;
  flex: 1;
  margin-left: 3em;
}

/* Debugger */

.Debugger {
  background-color: red;
  flex: 2;
}

/* Button Box */ 

.ButtonBox {
  margin: .5em;
  font-size: smaller;
}

.FileUpload {
  display: flex;
  flex: 1; 
}

.Button {
  flex: 1;
  border: 1px solid black;
  border-radius: 5px;
  margin: .2em;
  padding: .7em;
  outline: 1;
}

/* Text Editor */ 

.TextEditor {
  flex: 1
}

.ErrorMarker {
  background-color: red;
}

/* Memory Display */ 

/* Devices */ 