/* Root - App.tsx */ 

.Root {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e8;
  min-height: 100vh;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Components */

/* State Display */ 

.StateDisplay {
  border: 1px solid black;
  border-radius: 25px;
  margin-right: 10px;
  flex: 2;
  font-weight: 600;
}

.RegisterDisplay {
  margin: auto;
  flex: 1;
  margin-left: 3em;
}

/* Debugger */

.Debugger {
  background-color: none;
  flex: 2;
}

.DebuggerButton {
  background: transparent;
  padding: .2em;
  cursor: pointer;
}

.Icon {
  font-size: 2em;
  padding: .3em;
}

/* Button Box */ 

.ButtonBox {
  margin: .5em;
  font-size: smaller;
}

.FileUpload {
  display: flex;
  flex: 1; 
}

.Button {
  flex: 1;
  border: 1px solid black;
  border-radius: 5px;
  margin: .2em;
  padding: .7em;
  outline: 1;
  cursor: pointer;
}

/* Text Editor */ 

.TextEditor {
  flex: 1
}

.ErrorMarker {
  background-color: red;
}

/* Memory Display */ 

/* Devices */ 


/* Notices */

.Notice {
  display: flex;
  align-content: center;
  margin: auto;
  padding: .2em;
  margin-top: .4em;
  background-color: #ffcc00;
  border-top-right-radius: .1em;
  border-bottom-right-radius: 10px;
}

.NoticeDismiss {
  cursor: pointer;
  font-size: 1em;
  background: transparent;
  border: 0;
}