@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html {
    background-color: #121212;
    color: #6f6f6f;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-grow: 1;
  }

h1 {
    color: #d60014;
}

.container {
    margin: auto;
    margin-top: 25%;
}

.name {
    font-size: 20px;
    color: #fcfcfc;
}

.circle {
    border-radius: 50%;
}

.image {
    height: 200px;
    width: 200px;
}

.position {
    font-size: 12px;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    margin: 1em;
}

li {
    display: flex;
    list-style: none;
    font-size: 18px;
}

.fab {
    color: crimson;
}

a {
    color: white;
    text-decoration: none;
}

span {
    margin-left: 1em;
}